
<h1>Estadisticas de los Quizes</h1>
<ul>
	<li>Preguntas: <%= numPreguntas %></li>
	<li>Comentarios: <%= numComments %></li>
	<li>Numero medio de comentarios por pregunta: <%= media %></li>
	<li>Preguntas con comentario: <%= conComment %></li>
	<li>Preguntas sin comentario: <%= sinComment %></li>
</ul>
